name: Run tests

on:
  push:
    branches:
      - master
      - '*'
  pull_request:
    branches:
      - master
      - '*'

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv
          coverage: xdebug
          tools: phpunit

      - name: Install Composer dependencies
        run: composer install -n --prefer-dist

      - name: Run tests and generate coverage
        run: php artisan test --coverage-clover=coverage.xml
        env:
          XDEBUG_MODE: coverage

      - name: Upload coverage results to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
